[submodule "lib/minisatid"]
	path = lib/minisatid
	url = git@bitbucket.org:broesdecat/minisatid.git
[submodule "lib/lua"]
	path = lib/lua
	url = git://github.com/broesdecat/autotoolized-lua.git
[submodule "minisatid"]
	path = minisatid
	url = git://github.com/broesdecat/autotoolized-lua.git
