# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.o
*.or
*.texlipse
*.project
*.cproject
*.project~
*.cproject~
*.gitignore~
*.aux
*.log
*.tex.backup
*.tex~
*.pdf
*.toc
*.kilepr
*depend.mk
builds/*
*.settings/*
documentation/generateddocs
documentation/generateddocs/*
docs/official/idp-manual.out
.autotools
*~
*.idp3_history
nbproject*
lib/SPASS*
