[submodule "pcsolver"]
	path = pcsolver
	url = s0189141+git@server:/repos/minisatid
[submodule "autotoolized-lua"]
	path = autotoolized-lua
	url = git://github.com/akheron/autotoolized-lua.git
[submodule "lib/lua"]
	path = lib/lua
	url = git://github.com/akheron/autotoolized-lua.git
